$primary: rgba(141, 117, 229, 1);
$primary-2: rgba(71, 54, 140, 1);

$primary-100: rgba(218, 210, 251, 1);
$primary-200: rgba(190, 178, 245, 1);
$primary-300: rgba(166, 149, 239, 1);
$primary-400: rgba(141, 117, 229, 1);
$primary-500: rgba(112, 90, 204, 1);

$secondary: rgba(255, 200, 63, 1);
$secondary-100: rgba(255, 233, 183, 1);
$secondary-200: rgba(255, 220, 143, 1);
$secondary-300: rgba(255, 209, 107, 1);
$secondary-400: rgba(255, 200, 63, 1);
$secondary-500: rgba(224, 175, 55, 1);

$gray-1: rgba(25, 11, 52, 1);
$gray-2: rgba(90, 75, 117, 1);
$gray-3: rgba(140, 130, 165, 1);
$gray-4: rgba(190, 185, 204, 1);
$gray-5: rgba(220, 217, 229, 1);

$black: rgba(18, 18, 18, 1);
$white: white;

$red: rgba(185, 28, 28, 1);
$red-200: rgba(248, 113, 113, 1);

$yellow: rgba(234, 179, 8, 1);
$yellow-200: rgba(253, 224, 71, 1);

$orange: rgba(249, 115, 22, 1);
$orange-200: rgba(253, 186, 116, 1);

$green: rgba(22, 163, 74, 1);
$green-200: rgba(134, 239, 172, 1);

$shadow-settings-1: 0px 4px 12px rgba(0, 0, 0, 0.333);
